<!-- THIS FILE DOES NOT USE IN THIS PROJECT (YET) // FUTURE IMPLEMENTATION -->
{% extends "base.html" %}
{% block content %}
<!-- Font for head -->
<link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>

<h1><center>Oops! Something is wrong!</center></h1>
<br>
<p>We apologize for that. Click <b><a href="javascript:history.back()">Go Back</a></b>, if you want to go back.
<p align="center">If you want to see a stack trace click <b><a href="/stack_trace">HERE</a></b>.</p>

{% endblock %}