{% extends "base.html" %}
{% block content %}

<!-- Font for head -->
<link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>

<h2><b>Delete a post?</b></h2><br>
<p> 

Are you sure, you want to delete <b>{{ post.post_title }} </b>in <b>{{ post.post_type }}</b>,
which posted on <b>{{ post.post_time }}</b>	? 


</p><br>
<form action="{{ url_for('PostsFiles.confirmDelPost', delPost=post.post_id, who=who) }}" method="post" >
	<center><input class="btn btn-sm btn-success" type="submit" value="Yes" name"submit">
	<input class="btn btn-sm btn-success" type="submit" value="Cancel" name="submit"></center>
</form>

{% endblock %}