{% extends "base.html" %}
{% block content %}
<!-- Font for head -->
<link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>

<h1 align="center">Changing Password</h1>
<br>
<form role="form" method="post" action="{{ url_for('UsersFiles.changingPassword') }}">
  {{ form.csrf_token }}
  <p>
  	<b>Old Password: </b>
    {{ form.old_password(placeholder="old password") }}
    <span class="error"><font color="red"><i>
      {% if form.old_password.errors %}
        {% for error in form.old_password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </font></i></span>
  </p>
  <p>
  <b>New Password: </b>
  {{ form.user_password1(placeholder="password") }}
    <span class="error"><font color="red"><i>
      {% if form.user_password1.errors %}
        {% for error in form.user_password1.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </font></i></span>
  </p>
  <p>
  <b>Re-enter New Password: </b>
  {{ form.user_password2(placeholder="re-enter password") }}
    <span class="error"><font color="red"><i>
      {% if form.user_password2.errors %}
        {% for error in form.user_password2.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </font></i></span>
  </p>
  
  <p>
  <input class="btn btn-sm btn-success" type="submit" value="Submit" name"submit">
  <input class="btn btn-sm btn-success" type="submit" value="Cancel" name="submit">
</form>

{% endblock %}