{% extends "base.html" %}
{% block content %}

<!-- Font for head -->
<link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>

<h2><center><b>Users List</b></center></h2><br>
{% for user in users.items %}
<p align="left">
<strong><a href="{{ url_for('UsersFiles.delUser', delUserID=user.user_id) }}">
<img src="/static/images/delRed.png">
</a></strong>
&nbsp;<strong>User ID:</strong> {{ user.user_id }}<br>
&emsp;<strong>Username:</strong> {{ user.user_name }}<br>
&emsp;<strong>Last seen:</strong> {{ user.user_lastLogin }}<br><br>

{% endfor %}
{{ pagination.links }}

{% endblock %}