{% extends "base.html" %}
{% block content %}
<!-- Font for head -->
<link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>

<h1><center>About My Diary.com!</center></h1>
<br>
<p align="left"> <b>Owner:</b> Hutchaganit Putiprawan <br>
	<b>Project manager:</b> Dennis Dworkowski <br>
	<b>Last modified:</b> 05/05/15 
</p>
<p align="justify">This website is created with Python language, and uses MySQL Server for the database.
The project was created for the CS 750 Python class at Loyola University Maryland in Spring 2015.</p>
Click <a href="/references">HERE</a> to see the references.

{% endblock %}