{% extends "base.html" %}
{% block content %}

<!-- Font for head -->
<link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>

<h2><center>References</center></h2>
<br>
<UL align="left">
	<p><b>Partial Code + Learning Basic Python Tutorial:</b></p>
	<li><a href="https://www.youtube.com/playlist?list=PLLjmbh6XPGK4ISY747FUHXEl9lBxre4mM"> 
		https://www.youtube.com/playlist?list=PLLjmbh6XPGK4ISY747FUHXEl9lBxre4mM</a></li>
	<li><a href="http://www.techillumination.in/2014/01/python-web-application-development.html">
		http://www.techillumination.in/2014/01/python-web-application-development.html</a></li>
	<li><a href="https://www.youtube.com/playlist?list=PL0DA14EB3618A3507"> 
		https://www.youtube.com/playlist?list=PL0DA14EB3618A3507</a></li><br>

	<p><b>Random Secret Key:</b></p>
	<li><a href="http://flask.pocoo.org/docs/0.10/quickstart/"> 
		http://flask.pocoo.org/docs/0.10/quickstart/</a></li>
	<li><a href="https://gist.github.com/geoffalday/2021517"> 
		https://gist.github.com/geoffalday/2021517</a></li><br>

	<p><b>Base64 Encode/Decode:</b></p>
	<li><a href="https://www.safaribooksonline.com/library/view/python-cookbook-3rd/9781449357337/ch06s10.html">	https://www.safaribooksonline.com/library/view/python-cookbook-3rd/9781449357337/ch06s10.html</a></li><br>
	
	<p><b>Random Secret Key:</b></p>
	<li><a href="http://code.tutsplus.com/tutorials/intro-to-flask-signing-in-and-out--net-29982"> 
		http://code.tutsplus.com/tutorials/intro-to-flask-signing-in-and-out--net-29982</a></li><br>

	<p><b>RFlask-SQLAlchemy:</b></p>
	<li><a href="https://realpython.com/blog/python/using-flask-login-for-user-management-with-flask"> 
		https://realpython.com/blog/python/using-flask-login-for-user-management-with-flask</a></li>
	<li><a href="http://pythonhosted.org/Flask-SQLAlchemy/queries.html"> 
		http://pythonhosted.org/Flask-SQLAlchemy/queries.html</a></li>
	<li><a href="http://docs.sqlalchemy.org/en/rel_0_9/orm/tutorial.html#querying-with-joins"> 
		http://docs.sqlalchemy.org/en/rel_0_9/orm/tutorial.html#querying-with-joins</a></li>
	<li><a href="http://stackoverflow.com/questions/270879/efficiently-updating-database-using-sqlalchemy-orm"> 
		http://stackoverflow.com/questions/270879/efficiently-updating-database-using-sqlalchemy-orm</a></li>
	<li><a href="http://www.reddit.com/r/flask/comments/2olr3s/af_how_on_earth_do_i_delete_a_row_with_sql_alchemy/"> 
		http://www.reddit.com/r/flask/comments/2olr3s/af_how_on_earth_do<br>_i_delete_a_row_with_sql_alchemy/</a></li>
	<li><a href="http://stackoverflow.com/questions/4186062/sqlalchemy-order-by-descending"> 
		http://stackoverflow.com/questions/4186062/sqlalchemy-order-by-descending</a></li><br>

	<p><b>HTML/CSS/Jinja:</b></p>
	<li><a href="http://stackoverflow.com/questions/3206344/passing-html-to-template-using-flask-jinja2"> 
		http://stackoverflow.com/questions/3206344/passing-html-to-template-using-flask-jinja2</a></li>
	<li><a href="http://xing.github.io/wysihtml5/"> 
		http://xing.github.io/wysihtml5/</a></li>
	<li><a href="http://designmodo.com/retro-navigation-menu-css3/"> 
		http://designmodo.com/retro-navigation-menu-css3/</a></li>
	<li><a href="https://computerservices.temple.edu/creating-tables-html"> 
		https://computerservices.temple.edu/creating-tables-html</a></li>
	<li><a href="https://css-tricks.com/left-align-and-right-align-text-on-the-same-line"> 
		https://css-tricks.com/left-align-and-right-align-text-on-the-same-line</a></li><br>
	
	<p><b>WTForms:</b></p>
	<li><a href="http://stackoverflow.com/questions/17192595/flask-wtf-selectfield-dynamic-input-and-validation"> 
		http://stackoverflow.com/questions/17192595/flask-wtf-selectfield-dynamic-input-and-validation</a></li><br>

	<p><b>Edit Database:</b></p>
	<li><a href="https://groups.google.com/forum/#!topic/wtforms/kmVQZOwpJYA"> 
		https://groups.google.com/forum/#!topic/wtforms/kmVQZOwpJYA</a></li>
	<li><a href="http://stackoverflow.com/questions/7461962/mysql-how-to-store-aes-encrypted-data"> 
		http://stackoverflow.com/questions/7461962/mysql-how-to-store-aes-encrypted-data</a></li><br>

	<p><b>Trigger Database:</b></p>
	<li><a href="http://www.techonthenet.com/mysql/triggers/after_update.php"> 
		http://www.techonthenet.com/mysql/triggers/after_update.php</a></li>
	<li><a href="https://www.youtube.com/watch?v=BeG4IHFjqVg"> 
		https://www.youtube.com/watch?v=BeG4IHFjqVg</a></li>
	<li><a href="http://stackoverflow.com/questions/7595714/how-to-write-a-trigger-to-abort-delete-in-mysq"> 
		http://stackoverflow.com/questions/7595714/how-to-write-a-trigger-to-abort-delete-in-mysq</a></li><br>

	<p><b>Timeout Login session:</b></p>
	<li><a href="http://runnable.com/UiIEmfuGwAlQAAAI/how-to-timeout-expire-a-flask-session-for-python"> 
		http://runnable.com/UiIEmfuGwAlQAAAI/how-to-timeout-expire-a-flask-session-for-python</a></li><br>

	<p><b>Pagination:</b></p>
	<li><a href="http://flask-paginate.readthedocs.org/en/latest/"> 
		http://flask-paginate.readthedocs.org/en/latest/</a></li>
	<li><a href="http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ix-pagination"> 
		http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ix-pagination</a></li>
	<li><a href="http://stackoverflow.com/questions/25032744/how-to-return-multiple-models-tables-flask-sqlalchemy"> 
		http://stackoverflow.com/questions/25032744/how-to-return-multiple-models-tables-flask-sqlalchemy</a></li><br>

	<p><b>Get IP address:</b></p>
	<li><a href="http://stackoverflow.com/questions/3759981/get-ip-address-of-visitors-using-python-flask"> 
		http://stackoverflow.com/questions/3759981/get-ip-address-of-visitors-using-python-flask</a></li><br>

	<p><b>Pysha3:</b></p>
	<li><a href="https://pypi.python.org/pypi/pysha3/"> 
		https://pypi.python.org/pypi/pysha3/</a></li>
	<li><a href="http://www.mit.edu/~puzzle/2014/puzzle-solution/puzzle_with_answer_cronin/puzzle.py"> 
		http://www.mit.edu/~puzzle/2014/puzzle-solution/puzzle_with_answer_cronin/puzzle.py</a></li><br>

	<p><b>Cryptography:</b></p>
	<li><a href="http://docs.python-guide.org/en/latest/scenarios/crypto/"> 
		http://docs.python-guide.org/en/latest/scenarios/crypto/</a></li>
	<li><a href="https://www.youtube.com/watch?v=lsflaKpeB7Q"> 
		https://www.youtube.com/watch?v=lsflaKpeB7Q</a></li>
	<li><a href="http://www.tylerlesmann.com/2008/dec/19/encrypting-database-data-django/"> 
		http://www.tylerlesmann.com/2008/dec/19/encrypting-database-data-django/</a></li><br>

</UL>
{% endblock %}